
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;
    margin-top: 50px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: space-between;

}










.question-card {
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}










  .packagess {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
  }
  
  .packagess h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .packages-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 20px;
    display: inline-block;
    width: calc(33.33% - 40px); /* Adjust spacing as needed */
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .cards-content img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .cards-content {
    padding: 20px;
  }
  
  .cards-content h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .cards-content p {
    color: #777777;
    margin-bottom: 15px;
  }
  
  .cards-footer {
    padding: 20px;
    background-color: #7d7d7d;
  }
  
  
  .packages-card .cta-buttons {
    /* display: block; */
    background-color: #FF9800;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .packages-card .cta-buttons:hover {
    background-color: #FFB74D;
  }




.b{
  background-color: #FF9800;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;

}

.b:hover{
  background-color: #FFB74D;
}
.h{
  color: white;
  font-size: 32px;
}

.q{
  background-color: #333;
}



.input-box {
  width: 300px;
  padding: 10px;
  border: 3px solid #FFB74D;
  border-radius: 50px;
  font-size: 16px;
}







